<!-- Jumbotron with intro-->
<div class="jumbotron">
  <div class="container-fluid">
    <div class="col-md-10 offset-md-1">
      <h1 class="display-4">Welcome to our Typescript and Angular 2 group project</h1>
      <hr>
      <br/>
      <ul>
        <li class="lead">Angular is a framework for building client applications in HTML and either JavaScript or a language like TypeScript that compiles to JavaScript.</li>
        <li class="lead">Angular applications are made up of components. A component is the combination of an HTML template and a component class that controls a portion of the screen.</li>
      </ul>      
    </div>
  </div>
</div>
<div class="container-fluid">
  <!-- Technologies Row-->
  <div class="row">
    <div class="col-md-4  technology">
      <h2>Angular 2</h2>
      <img src="https://angular.io/resources/images/logos/angular2/angular.png" alt="Angular" class="img-rounded">
      <p><a class="btn btn-outline-primary customBtn" target="_blank" href="https://github.com/angular/angular" role="button">Check out the source!</a></p>
    </div>
    <div class="col-md-4 technology">
      <h2>Bootstrap 4</h2>
      <img src="https://upload.wikimedia.org/wikipedia/commons/e/ea/Boostrap_logo.svg" alt="Bootstrap" class="img-rounded">
      <p><a class="btn btn-outline-primary customBtn" target="_blank" href="https://github.com/twbs/bootstrap" role="button">Check out the source!</a></p>
    </div>
    <div class="col-md-4 technology">
      <h2>Typescript</h2>
      <img src="http://vignette3.wikia.nocookie.net/dev/images/d/db/Typescript_logo.png/revision/latest?cb=20151023133416" alt="Typescript" class="img-rounded">
      <p><a class="btn btn-outline-primary customBtn" target="_blank" href="https://github.com/Microsoft/TypeScript" role="button">Check out the source!</a></p>
    </div>
  </div>
</div>